*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

header{
    background: no-repeat url(./img/оранж\ круг.png);
    position: relative;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

header .my-photo{
    display: block;
    width: 27%;
    height: auto;
    position: absolute;
    top: 12vh;
    left: 12%;
    z-index: 5;
}

header .circle-bg{
    display: block;
    width: 25%;
    position: absolute;
    right: 0;
}

header .orange-bg{
    display: block;
    width: 50%;
    height: 65vh;
    position: absolute;
    left: -20%;
}

header .container{
width: 47%;
position: absolute;
left: 40%;
top: 12vh;
}

header .container h1{
    font-size: 104px;
    color: #282828 ;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 10px;
    margin-left: -90px;
    display: block;
    z-index: 9;
    position: relative;
}

header .container h2, h3{
    font-size: 40px;
    font-weight: 100;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 12px;
    margin-top: 40px;
}

header .container .goal{
    font-size: 24px;
    margin-top: 10px;
}

header .container .goal::after{
    content: url(./img/линия_1.png);
    display: block;
    margin-top: 15px;
    margin-left: -140px;
}

header .container .my-links{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

header .container .my-links .link{
    font-size: 24px;
    width: 48%;
    margin-bottom: 10px;
    list-style-position: inside;
}

header .container .my-links .link a{
color: #282828;
}

@media (max-width:1500px){
    header .circle-bg{
        width: 22%;
    }
    
    header .orange-bg{
        height: 52vh;
    }
    
    header .container{
    width: 50%;
    left: 42%;
    }
    
    header .container h1{
        font-size: 86px;
        margin-bottom: 0;
        margin-left: -70px;
    }
    
    header .container h2, h3{
        font-size: 36px;
        margin-top: 30px;
    }
    
    header .container .my-links{
        justify-content: space-between;
    }
    
    header .container .my-links .link{
        font-size: 20px;
        width: 45%;
    }
}

@media (max-width:1135px){
    header .my-photo{
        /* display: block; */
        width: 30%;
        /* height: auto; */
        /* position: absolute; */
        /* top: 12vh; */
        left: 8%;
        /* z-index: 5; */
    }
    
    header .circle-bg{
        /* display: block; */
        width: 26%;
        /* position: absolute; */
        right: 0;
        top: 0;
    }
    
    header .orange-bg{
        /* display: block; */
        /* width: 45%; */
        height: 44vh;
        /* position: absolute; */
        /* left: -20%; */
    }
    
    header .container{
    width: 47%;
    /* position: absolute; */
    left: 42%;
    /* top: 12vh; */
    }
    
    header .container h1{
        font-size: 70px;
        /* color: #282828 ; */
        /* font-weight: 800; */
        /* line-height: 1; */
        /* margin-bottom: 0; */
        /* margin-left: -80px; */
        /* display: block; */
        /* z-index: 9; */
        /* position: relative; */
    }
    
    header .container h2, h3{
        font-size: 38px;
        /* font-weight: 100; */
        /* color: #000000; */
        /* font-family: 'Open Sans', sans-serif; */
        /* text-transform: uppercase; */
        letter-spacing: 8px;
        /* margin-top: 30px; */
    }
    
    header .container .goal{
        /* font-size: 24px; */
        /* margin-top: 10px; */
    }
    
    header .container .goal::after{
        /* content: url(./img/линия_1.png); */
        /* display: block; */
        margin: 8px auto 0 0;
        /* margin-top: 8px; */
        /* margin-left: -15px; */
    }
    
    header .container .my-links{
        /* margin-top: 20px; */
        /* display: flex; */
        /* flex-wrap: wrap; */
        /* justify-content: space-evenly; */
        flex-direction: column;
    }
    
    header .container .my-links .link{
        font-size: 24px;
        width: 90%;
        /* margin-bottom: 10px; */
        /* list-style-position: inside; */
    }
    
    header .container .my-links .link a{
    /* color: #282828; */
    }
}